NEXT_PUBLIC_API_ORIGIN=https://aero-backend.onrender.com
NEXT_PUBLIC_API_BASE_URL=https://aero-backend.onrender.com/api
NEXT_PUBLIC_ADMIN_API_BASE=https://aero-backend.onrender.com/api/admin
NEXT_PUBLIC_SUPABASE_URL=https://tamzlrygqskxscofwnho.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_6aNejtXmFMJ984mqQY2kQA_o0Kuei_4
